
<div class="form">
    <%= form_with model: @note do |form| %>
    <div>
        <%= form.text_field :content, placeholder:"Take a note..."%>
        <%= form.submit%>
    </div>
    <% end %>
</div>

<div class="container">
    <div class="board">
        <% @all_notes.reverse_each do |note|%>
            <div class="note">
                <%= note.content %>
            </div>
        <% end %>
    </div>
</div>

