// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//for the page
body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.container {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90vw;
}

.form {
    display: flex;
    justify-content: center;
}

//for the post-its
.board {
    display: flex;
    flex-flow: row wrap; 
}

.note {
    background-color: aquamarine;
    color: #363636;
    position: relative;
    height: 110px;
    width: 110px;
    margin: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.remove {
    position: absolute;
    bottom: 0;
    right: 5px;
}

a {
    text-decoration: none;
    color: navy;
}
input[type=text]{
    height: 50px;
    padding: 0px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
}

input[type=submit] {
    background-color: lightgray;
    color: white;
    height: 50px;
    width: auto;
    font-size: medium;
    padding: 15px 20px;
    margin: 8px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: lightslategrey;
  }
